Function requirement

- Create jobs
- process jobs
- multiple workers
- retries
- dead letter queues
- job status tracking
- logging
- delayed jobs    ----->>> later priority



-->// Example payload
---------------------

{
    id: "233441fa1t21",
    type: "send_email",
    status: ""
    payload: {
        to : "example@gmail.com",
    },
    maxRetries: 3
    retryCount: 0,
}

---------------------


\\
Important functionities to check mark

in a simple queue we will do something like this

producer || ----> redis queue ----> workers
//

------------------

we will implement 
///// Retries --> 

when a job fails we put them in a sepereteQueue

we define max retries
if smth goes wrong we retry 
think exponentially instead of linear

10s --> 20s --> 40s


//////. DLQ ---->
when the jobs fails for more than 3 times if deleted we might lose important data
so we create a seperate queue and store the jobs there.
