Function requirement

- Create jobs
- process jobs
- multiple workers
- retries
- dead letter queues
- job status tracking
- logging
- delayed jobs



-->// Example payload
---------------------

{
    id: "233441fa1t21",
    type: "send_email",
    status: ""
    payload: {
        to : "example@gmail.com",
    },
    maxRetries: 3
    retryCount: 0,
}

---------------------